# Android Studio
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/artifacts
/build

# according to https://intellij-support.jetbrains.com/entries/23393067
/.idea/libraries/*.xml
/.idea/gradle.xml

# according to https://code.google.com/p/android/issues/detail?id=156708
*.iml

# Mac
.DS_Store

# Fabric: https://docs.fabric.io/android/fabric/settings/working-in-teams.html
fabric.properties
