@CHARSET "UTF-8";

html, body {
	font-family: sans-serif;
}

.kod {
	background-color: #beb;
	font-size: 10pt;
	border-top: #0C0 solid 1px;
	border-bottom: #0C0 solid 1px;
	font-family: monospace;
	white-space: nowrap;
}

kbd {
	background: #EEE;
	padding: 2px 5px;
	white-space: nowrap;
	min-width: 1em;
	border-left: 1px solid #BBB;
	border-top: 1px solid #BBB;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	font-family: sans-serif;
	line-height: 120%;
}

.daftarIsi {
	background: #CCC;
	border: 1px solid #666;
	padding: 4px;
}

.contohHuruf {
	background: #ccc;
	border: 1px solid #666;
	padding: 3px;
	line-height: 120%;
}

