@CHARSET "UTF-8";

html, body {
	font-family: sans-serif;
}

h2 {
    font-family: sans-serif-light, sans-serif;
}

.kod {
	background-color: #beb;
	font-size: 10pt;
	border-top: #0C0 solid 1px;
	border-bottom: #0C0 solid 1px;
	font-family: monospace;
	white-space: nowrap;
}

kbd {
	background: #EEE;
	padding: 2px 5px;
	white-space: nowrap;
	min-width: 1em;
    border: 1px solid #BBB;
    border-right-color: #666;
    border-bottom-color: #666;
    font-family: sans-serif;
	line-height: 120%;
}

.toc {
	border: 1px solid #666;
	padding: 4px;
}

.contohHuruf {
	background: #ccc;
	border: 1px solid #666;
	padding: 3px;
	line-height: 120%;
}

.faq .q {
	font-weight: bold;
}

.faq .a {
	color: #111;
}
