<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="yuku.alkitab"
	android:versionName="0.9.1" android:versionCode="16">
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:name="AlkitabApplication">
		<activity
			android:name="IsiActivity"
			android:label="Alkitab"
			android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="EdisiActivity"
			android:label="Edisi" />
		<activity
			android:label="Menuju"
			android:name="MenujuActivity" />
		
		<activity
			android:name="SejarahActivity" />
		<activity
			android:name="PengaturanActivity" />
		<activity
			android:name="BukmakActivity"
			android:label="Pembatas Buku" />

		<activity
			android:label="Pencarian"
			android:name="SearchActivity" />
		<activity
			android:name="RenunganActivity"
			android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation" />
	<activity android:name="BantuanActivity" android:label="Bantuan"></activity>
</application>
	<uses-sdk
		android:minSdkVersion="3"
		android:targetSdkVersion="4" />

	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<supports-screens />
</manifest> 