<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="yuku.alkitab" android:installLocation="auto" android:versionCode="63" android:versionName="1.9.10">
	<application android:name="yuku.alkitab.base.AlkitabApplication" android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="yuku.alkitab.base.IsiActivity" android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="yuku.alkitab.base.MenujuActivity" android:label="@string/tuju_v" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="yuku.alkitab.base.PengaturanActivity" android:label="@string/pengaturan_alkitab" android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation" />
		<activity android:name="yuku.alkitab.base.BukmakActivity" android:label="@string/pembatas_buku" android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation" />
		<activity android:name="yuku.alkitab.base.EdisiActivity" android:label="@string/kelola_versi" android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation" />
		<activity android:name="yuku.alkitab.base.Search2Activity" android:label="@string/cari_v" android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="yuku.alkitab.base.RenunganActivity" android:label="@string/renungan" android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="yuku.alkitab.base.BantuanActivity" android:label="@string/bantuan_judul" />
		<activity android:name="yuku.filechooser.FileChooserActivity" />
	</application>

	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="12"/>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

	<supports-screens android:largeScreens="true" android:resizeable="true" android:smallScreens="true" android:normalScreens="true" android:anyDensity="true" />
</manifest>
